<h2 mat-dialog-title *ngIf="isUpdateMode">Update {{ form.get('name').value }}</h2>
<h2 mat-dialog-title *ngIf="!isUpdateMode">Ajouter un Refuge</h2>

<mat-dialog-content>
  <form novalidate [formGroup]="form">

    <p>
      <mat-form-field class="full-width" [class.mgb15]="form.get('name').dirty && form.get('name').invalid">
        <input matInput placeholder="Name" formControlName="name" minlength="2" required name="name" />
        <mat-error *ngIf="form.get('name').dirty && form.get('name').hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('name').dirty && form.get('name').hasError('minlength')">
          Name is <strong>2 chars min</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p formGroupName="address">
      <mat-form-field class="full-width">
        <input matInput placeholder="Street" formControlName="street" name="street" minlength="2"/>
        <mat-error *ngIf="form.get('address').get('street').dirty && form.get('address').get('street').hasError('required')">
          Street is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('address').get('street').dirty && form.get('address').get('street').hasError('minlength')">
          Street is <strong>2 chars min</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <table class="full-width" cellspacing="0" formGroupName="address">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="City" formControlName="city" name="city" minlength="2"/>
            <mat-error *ngIf="form.get('address').get('city').dirty && form.get('address').get('city').hasError('required')">
              City is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('address').get('city').dirty && form.get('address').get('city').hasError('minlength')">
              City is <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Postal Code (ex: 54000)" formControlName="postalCode" name="postalCode"/>
            <mat-error *ngIf="form.get('address').get('postalCode').dirty && form.get('address').get('postalCode').hasError('required')">
              Phone is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('address').get('postalCode').dirty && form.get('address').get('postalCode').hasError('pattern')">
              Le code postal doit être composé de <strong>5 chiffres</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Phone (ex: 33612345678)" formControlName="phone" required name="phone" />
        <mat-error *ngIf="form.get('phone').dirty && form.get('phone').hasError('required')">
          Phone is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('phone').dirty && form.get('phone').hasError('pattern')">
          Le numéro de téléphone doit être composé de <strong>11 chiffres</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email" required name="email" />
        <mat-error *ngIf="form.get('email').dirty && form.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('email').dirty && !form.get('email').hasError('required') && form.get('email').hasError('googleEmail')">
          Invalid email <strong>(ex: name.firstname@gmail.com)</strong>
        </mat-error>
      </mat-form-field>
    </p>

  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
