<mat-card class="card-info">
    <mat-card-title class="card-title" [class.type-male]="(isMale)" [class.type-female]="(!isMale)">
      {{ animal.name }}
    </mat-card-title>
    <mat-card-subtitle class="card-text">
      <div class="info-titre">Espèce</div>
      <div class="info-text">{{animal.species}}</div>
    </mat-card-subtitle>
    <mat-card-subtitle class="card-text">
      <div class="info-titre">Race</div>
      <div class="info-text">{{animal.breed}}</div>
    </mat-card-subtitle>
    <mat-card-subtitle class="card-text">
      <div class="info-titre">Alimentation</div>
      <div class="info-text">{{animal.diet}}</div>
    </mat-card-subtitle>
    <mat-card-subtitle class="card-text">
      <div class="info-titre">Santé</div>
      <div class="info-text">{{animal.health}}</div>
    </mat-card-subtitle>
    <mat-card-subtitle class="card-text">
      <div class="info-titre">Description</div>
      <div class="info-text">{{animal.description}}</div>
    </mat-card-subtitle>
    <mat-card-subtitle class="card-text">
      <div class="info-text">{{animal.name}} est arrivé le {{animal.enterDate | date: 'dd-MM-yyyy'}} !</div>
    </mat-card-subtitle>
</mat-card>
