.card-info {
  position: absolute;
  box-shadow: 0 0 0 0;
  left: 0%;
  right: 100%;
  top: 0%;
  bottom: 0%;
  padding: 4%;
  background-color: rgba(223, 228, 234,0);
  color: rgba(0, 0, 0, 0);
  visibility: hidden;
  transition: visibility 0.35s, color 0.25s linear, right 1s linear, background-color 0.25s linear;
}

.card-title {
  position: relative;
  display: inline-block;
  font : 400 3.5em 'Fjalla One',sans-serif;
  text-transform: uppercase;
  margin-top: 2%;
  white-space:nowrap;
  z-index: 0;
}

.type-male:before {
  content: '';
  position: absolute;
  bottom: 5%;
  left: -2.5%;
  height: 40%;
  right: 102.5%;
  background-color: rgba(9, 132, 227,0);
  transition: right 1s linear, background-color 0.25s linear;
  z-index: -1;
}

.type-female:before {
  content: '';
  position: absolute;
  bottom: 5%;
  left: -2.5%;
  height: 40%;
  right: 102.5%;
  background-color: rgba(255, 118, 117,0);
  transition: right 1s linear, background-color 0.25s linear;
  z-index: -1;
}

.card-text {
  font-family: 'Fjalla One', sans-serif;
}

.info-text {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0);
  transition: color 0.25s linear;
}

.info-titre {
  font-size: 1em;
  color: rgba(116, 125, 140, 0);
  transition: color 0.25s linear;
}

.card-button {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  right: 0;
}

.card-button-del, .card-button-mod{
  margin: 15px;
  background-color: rgba(37, 204, 247, 1);
  color: rgba(236, 240, 241, 1);
  opacity: 0;
  transition: opacity 0.25s linear;
}

.card-button-del:hover, .card-button-mod:hover {
  background-color: #0652DD;
}

@media screen and (max-width: 1250px) {
  .info-text { font-size: 0.8em; }
  .info-titre { font-size: 0.7em; }
}

@media screen and (max-width: 800px)
{
  .mat-card-title { margin-bottom: 4px; }
  .info-text { font-size: 0.4em; }
  .info-titre { font-size: 0.35em; }
  .mat-card-subtitle { margin-bottom: 5px; }
}
