.home-title {
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}

.home-title h1 {
  display: inline-block;
  margin: auto;
  font-size: 3.5em;
}

.section-principal .button-select {
  background-color: #0652DD ;
  color: #ecf0f1;
}

.section-principal .button-select:hover {
  background-color: #ecf0f1;
  color: #0652DD;
}

.section-principal button {
  background-color: #ecf0f1;
  color: #0652DD;
  margin-right: 10px;
  transition: all 0.25s linear;
}

.section-principal button:hover {
  background-color: #0652DD ;
  color: #ecf0f1;
  transition: all 0.25s linear;
}
